*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Alegreya Sans SC', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
  }
.header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.2);
    padding: 20px;
    z-index: 10;
}
.header-icon-head a{
    font-family: 'Bungee Inline', sans-serif;
    text-decoration: none;
    color: gold;
    font-size: 30px;
}
.header-icon-head a:hover{
    color: lightskyblue;
    transition: all 0.7s;
}
.lists ul{
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
}
.lists ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s;
    padding: 20px 0px;
}
.lists ul li a:hover{
    color: gold;
    transition: all 0.3s;
}
.lists-list{
    display: none;
    transition: all 0.3s;
}
.lists-list ul li a:hover{
    transition: all 0.3s;
    color: gold;
}
.lists ul li:hover .lists-list{
    display: block;
    position: absolute;
    top: 40px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.lists ul li:hover .lists-list ul{
    display: block;
    margin: 10px;
}
.lists ul li:hover .lists-list ul li{
    width: 150px;
    padding: 10px;
}
.mob-lists{
    position: fixed;
    top: 75px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.2);
    z-index: 1;
    overflow-x: hidden;
    width: 0%;
    height: 100%;
    transition: 0.3s;
}
.mob-lists ul{
    position: relative;
    list-style-type: none;
    padding: 15px 0px 0px 0px;
}

.mob-lists ul li{
    padding: 18px;
}

.mob-lists ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s;
    padding: 20px 0px;
}

.mob-lists ul li a:hover{
    color: gold;
    transition: all 0.3s;
}

.mob-lists-list{
    display: none;
    transition: all 0.3s;
}

.mob-lists-list ul li a:hover{
    transition: all 0.3s;
    color: gold;
}

.mob-lists ul li:hover .mob-lists-list{
    display: block;
    position: absolute;
    top: 270px;
    left: 120px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.mob-lists ul li:hover .mob-lists-list ul{
    display: block;
    /* margin: 10px; */
}

.mob-lists ul li:hover .mob-lists-list ul li{
    width: 150px;
    padding: 10px;
}
.header-button button{
    padding: 15px;
    width: 10rem;
    border: none;
    background: rgb(236,80,70);
    background: linear-gradient(90deg, rgb(95, 70, 236) 0%, rgb(224, 71, 255) 100%);
    border-radius: 30px;
    font-size: 15px;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}
.header-button button:hover{
    transition: all 0.3s;
    background: rgb(236,80,70);
    background: linear-gradient(90deg, rgb(224, 71, 255) 0%, rgb(95, 70, 236) 100%);
}
.nav-button{
    display: none;
}
.nav-button button{
    background: none;
    font-size: 25px;
    border: none;
    color: white;
    padding: 15px;
}
.nav-button button:hover{
    color: gold;
    transition: 0.7s;
}
.Contact-main{
    height: 100%;
    width: 100%;
    background: url(../cripto-gallery/blog-card7\ \(1\)-min.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.Contact-content1{
    height: 70vh;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.61);
    /* background-color: rgba(0, 0, 0, 0.726); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    color: white;
}
.Contact-content1 p{
    padding-top: 10px;
    width: 40rem;
    font-size: 20px;
}
.FAQ{
    height: 100%;
    width: 100%;
    background-color: #182C61;
}
.FAQ-main{
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.FAQ-content1{
    padding: 30px;
    width: 32rem;
}
.FAQ-button-hover{
    font-size: 17px;
    color: white;
    padding: 0px 18px;
    max-height: 0;
    overflow: hidden;
    transition: 0.7s;
}
.active, .FAQ-button:hover{
    background-color: #f879b6;
} 
.FAQ-content1-text1{
    font-size: 30px;
    color: white;
    padding: 10px 0px;
}
.FAQ-content1-text2{
    font-size: 20px;
    color: white;
    padding: 30px 0px;
}
.FAQ-content1-text3 button{
    padding: 20px;
    width: 10rem;
    background-color: rgb(70, 129, 240);
    border: none;
    border-radius: 0px 30px 30px 0px;
    filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.815));
    color: black;
    font-size: 17px;
    font-weight: 600;
}
.FAQ-content1-text3 button:hover{
    transition: 0.9s;
    /* filter: drop-shadow(none); */
    background-color: rgb(206, 70, 240);
    color: white;
}
.FAQ-content2{
    padding: 30px;
    width: 32rem;
}
.FAQ-content1-text4{
    padding: 10px 0px;
}
.FAQ-content1-text4 button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 30rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    border-radius: 30px;
    font-size: 18px;
}
.FAQ2{
    height: 100%;
    width: 100%;
    background: url(../cripto-gallery/blog-card7\ \(2\)-min.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.FAQ-content3{
    background-color: rgba(54, 54, 54, 0.61);
    /* background-color: rgba(61, 61, 61, 0.788); */
    height: 100%;
    padding: 50px;
}
.FAQ-main2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.patners{
    height: 100%;
    width: 100%;
    background-color: #182C61;
}
.patners h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}
.patners-main{
    padding: 100px 0px;
}
.patners-content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    padding: 0px 100px 0px 100px ;
}
.patners-img{
    width: 200px;
    height: 100px;
    text-align: center;
    border-right: 1px dotted rgba(0, 0, 0, 0.603);
    /* border-bottom: 1px dotted rgba(0, 0, 0, 0.562); */
    padding: 20px;
}
.patners-img img{
    opacity: 0.5;
}
.patners-img1 img{
    opacity: 0.5;
}
.patners-img1{
    width: 200px;
    height: 100px;
    text-align: center;
    /* border-right: 1px dotted rgba(0, 0, 0, 0.603); */
    /* border-bottom: 1px dotted rgba(0, 0, 0, 0.562); */
    padding: 20px;
}

.patners-img2 img{
    opacity: 0.5;
}

.patners-img2{
    width: 200px;
    height: 100px;
    text-align: center;
    border-right: 1px dotted rgba(0, 0, 0, 0.603);
    border-top: 1px dotted rgba(0, 0, 0, 0.562);
    padding: 20px;
}
.patners-img3 img{
    opacity: 0.5;
}
.patners-img3{
    width: 200px;
    height: 100px;
    text-align: center;
    /* border-right: 1px dotted rgba(0, 0, 0, 0.603); */
    border-top: 1px dotted rgba(0, 0, 0);
    padding: 20px;
}
.patners-img img:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: 0.7s;
}
.patners-img1 img:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: 0.7s;
}
.patners-img2 img:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: 0.7s;
}
.patners-img3 img:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: 0.7s;
}
.footer-main{
    height: 100%;
    background: url(../cripto-gallery/gridscape-backgrounds-NF6LAQJ.jpg);
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.footer{
    /* height: 120vh; */
    /* width: 100%; */
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    background-color: #182b61d3;
}
.footer-container{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 40px;
}
.footer-content1{
    /* padding: 0px 30px 0px 80px; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.footer-head h1{
    font-size: 20px;
    font-family: 'Bungee Inline', sans-serif;
    color: gold;
}
.footer-icon ul{
    padding-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 23px;
    color: white;
    list-style-type: none;
}
.footer-icon ul li:hover{
    color: #f879b6;
    transition: 0.7s;
}
.footer-content2 ul{
    width: 150px;
    list-style-type: none;
    font-size: 20px;
}
.footer-content2 ul li a{
    text-decoration: none;
    color: white;
}
.footer-content2 ul li a:hover{
    color: #f879b6;
    transition: 0.7s;
}
.footer-input{
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* padding-bottom: 20px; */
    color: white;
}
.input{
    padding: 10px;
    width: 13rem;
    background: rgba(0, 0, 0, 0.438);
    border: none;
    color: white;
    border-radius: 30px;

}
input:focus{
    outline: 0;
}
::placeholder{
    color: white;
}
.footer-input button{
    padding: 10px;
    width: 5rem;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 30px 0px;
    background: linear-gradient(90deg, rgb(95, 70, 236) 0%, rgb(224, 71, 255) 100%);
    /* background: linear-gradient(); */
}
.footer-input button:hover{
    background: linear-gradient(90deg, rgb(224, 71, 255) 0%, rgb(95, 70, 236) 100%);
    transition: 0.7s;

}
.footer-last{
    color: white;
    font-size: 15px;
    padding-top: 50px;
}
.footer-last a{
    text-decoration: none;
    color: mediumaquamarine;
}
@media (min-width:320px) and (max-width:480px) {
    .header{
        width: 100%;
        padding: 15px;
    }
    .header-icon{
        font-size: 35px;
    }
    .header-icon-head a{
        font-size: 25px;
    }
    .lists ul {
        display: none;
    }
    .nav-button{
        display: block;
    }
    .Contact-content1 p {
        display: none;
    }
    .header-button button {
        display: none;
    }
    .FAQ-main{
        flex-direction: column;
    }
    .FAQ-main2{
        flex-direction: column;
    }
    .patners-content{
        flex-wrap: wrap;
    }
    .FAQ-content1{
        width: 16rem;
        text-align: justify;
    }
    .FAQ-content2{
        width: 100%;
    }
    .FAQ-para-img img{
        width: 100%;
        height: 100%;
    }
    .patners-img{
        border: none;
    }
    .patners-img1{
        border: none;
    }
    .patners-img2{
        border: none;
    }
    .patners-img3{
        border: none;
    }
    .FAQ-content1-text4 button{
        width: 100%;
        font-size: 15px;
    }
    .footer-container {
        flex-direction: column;
    }
    .inputs-main2 input{
        width: 80%;
    }
    .footer-container{
        flex-direction: column;
        gap: 60px;
    }
    .footer-content1{
        padding: 0px 30px 0px 0px;
    }
    .footer-last{
        width: 13rem;
        text-align: center;
        padding: 20px;
    }
}
@media (min-width:481px) and (max-width:768px) {
    .header{
        width: 100%;
        padding: 15px;
    }
    .header-icon{
        font-size: 35px;
    }
    .header-icon-head a{
        font-size: 25px;
    }
    .lists ul {
        display: none;
    }
    .nav-button{
        display: block;
    }
    .Contact-content1 p {
        display: none;
    }
    .header-button button {
        display: none;
    }
    .FAQ-main{
        flex-wrap: wrap;
    }
    .FAQ-main2{
        flex-wrap: wrap;
    }
    .patners-content{
        flex-wrap: wrap;
    }
    .FAQ-content1{
        width: 16rem;
        text-align: justify;
    }
    .FAQ-content2{
        width: 100%;
    }
    .FAQ-para-img img{
        width: 100%;
        height: 100%;
    }
    .patners-img{
        border: none;
    }
    .patners-img1{
        border: none;
    }
    .patners-img2{
        border: none;
    }
    .patners-img3{
        border: none;
    }
    .FAQ-content1-text4 button{
        width: 100%;
        font-size: 15px;
    }
    .footer-container {
        flex-wrap: wrap;
        gap: 60px;
    }
    .inputs-main2 input{
        width: 80%;
    }
    .footer-container{
        flex-wrap: wrap;
    }
    .footer-content1{
        padding: 0px 30px 0px 0px;
    }
    .footer-last{
        width: 13rem;
        text-align: center;
        padding: 20px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .header{
        width: 100%;
        padding: 15px;
    }
    .header-icon{
        font-size: 35px;
    }
    .header-icon-head a{
        font-size: 25px;
    }
    .nav-button{
        display: none;
    }
    .Contact-content1 p {
        display: none;
    }
    .FAQ-para-img{
        height: 500px;
        width: 600px;
    }

    .FAQ-para-img img{
        width: 100%;
        height: 100%;
    }
}